<div class="container-fluid page-container">
  <div class="row">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{bannerPic}}" class="img-fluid banner" alt="Responsive image">
          <div class="carousel-caption">
            <div class="row">

            </div>
            <div class="row">
              {{projectsWelcome}}
            </div>
            <br/>
            <div class="row">
              <button id="test" type="submit" class="btn btn-success welcome" (click)="goto('div#projects.container.page-container')">{{jumpButtonText}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container page-container" id="projects">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <h2 class="subheader"></h2>
      <div *ngFor="let item of project | paginate: { itemsPerPage: 3, currentPage: p }">
        <project
          [projectTitle]="[item?.name]"
          [projectVersion]="[item?.homepage]"
          [projectAuthors]="['Kristopher Clark']"
          [projectAuthorsContact]="['http://www.krisbox.org']"
          [projectDescription]="[item?.description]"
          [projectSource]="[item?.svn_url]"
          [projectGitURL]="[item?.git_url]"
          [projectStartDate]="[item?.created_at]"
          [projectUpdated]="[item?.updated_at]"
          [projectTitle]="[item?.name]"
        >
          <div class="loading-gears"></div>
        </project>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
      </div>
    </div>
  </div>

</div>
