<div class="container-fluid page-container">
  <div class="row">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{bannerPic}}" class="img-fluid banner" alt="Responsive image">
          <div class="carousel-caption">
            <div class="row">
              <h2>{{projectName}} has no contributors!  Think about making a contribution.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="welcome" name="welcome" style="padding-top: 60px;">
  <div class="container">
    <div class="row" innerHTML="{{welcome}}">
    </div>
  </div>
</div>
