<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="padding-top: 10px;">
          <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.krisbox.org&width=106&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=264292627353093" width="106" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        <p class="text-muted"><a routerLink="/">Home</a> |
          <a routerLink="/blog">Blog</a> |
          <a routerLink="/projects">Projects</a> |
          <a routerLink="/about">About</a> |
        </p>
      </div>
    </div>
  </div>
</footer>
