<div class="container-fluid page-container">
  <div class="row">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{bannerPic}}" class="img-fluid" alt="Responsive image" style="max-height: 600px; width: 100%">
          <div class="carousel-caption">
            <div class="row">
              {{blogText}}
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
