<aside id="sticky-social">
  <ul>
    <li><a href="https://www.facebook.com/krisboxorg" class="entypo-facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
    <li><a href="https://www.linkedin.com/in/kristopherclarkks" class="entypo-linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a></li>
    <li><a href="https://twitter.com/KrisboxOrg" class="entypo-twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a></li>
    <li><a href="https://plus.google.com/113534595810472806115" class="entypo-gplus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i><span>Google+</span></a></li>
    <li><a href="https://github.com/orgs/krisbox-org" class="entypo-github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span>Github</span></a></li>
    <li><a href="#" class="entypo-stumbleupon" target="_blank"><i class="fa fa-stumbleupon" aria-hidden="true"></i><span>StumbleUpon</span></a></li>
  </ul>
</aside>
